@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Open Sans, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subheader {
    width: 70%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cats-header {
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    padding: 5px;
    display: flex;
    align-items: center;
}

.cats-header-link {
    font-size: 14px;
    margin-right: 15px;
}

.span-bg-red {
    color: #F5C400;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #ffce00;
    color: #202020;
    outline: none;
    padding: 12px 18px;
    font-weight: bold;
    font-size: 15px;
    transition: .2s;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #e0b501;
}

input {
    border: 2px solid #F5C400;
    background: none;
    color: black;
    outline: none;
    padding: 12px 18px;
    font-weight: bold;
    font-size: 15px;
}

select {
    border: 1px solid #F5C400;
    background: none;
    color: black;
    outline: none;
    padding: 3px 5px;

    font-size: 15px;
}

.options-list-input {
    width: 100%;
    margin-top: 5px;
    padding: 3px 5px;
    border: 1px solid #F5C400;
    font-weight: normal;
}

.options-list-add {
    margin-top: 5px;
    padding: 3px 5px;
    width: 100%;
    border-radius: 0;
}

.one-option {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options-list-list {
    width: 95%;
    font-size: 14px;
}

.option-list-option {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-button {
    border-radius: 0;
    padding: 14px 18px;
}

.nav-link-w-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-left: 10px;
    padding-right: 10px;

    cursor: pointer;
}

.account-nav {
    display: flex;
    align-items: center;
}

a {
    margin-top: 2px;
    color: #666666;
    font-size: 13px;
}

.block {

}

.search-input-block {
    width: 60%;
}

.search-input {
    width: 100%;

    display: flex;
}

.search-input-input {
    width: 90%;
}

.banner {
    margin: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-height: 52px;
    height: 52px;
}

.big-banner {
    width: 100%;
    height: 300px;
}

img {
    position: relative;
}

.page {
    margin: 20px auto;
    width: 70%;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.cat-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.super-cats {
    padding: 10px;
    width: 20%;

    border-right: 1px solid #666666;
}

.sub-cats {
    padding: 10px;
    width: 75%;
}

.category {
    cursor: pointer;
}

.h {
    font-size: 32px;
    margin-top: 0px;
    font-weight: bold;

    color: #4949ff;
    cursor: pointer;
}

.back {
    color: #0070f3;
    font-size: 14px;
    cursor: pointer;
}

.page-list {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.options-list {
    width: 20%;
    border-right: 1px solid #E8E8E8;
}

.goods-list {
    width: 70%;
}

.product {
    border: 1px solid #E8E8E8;
    padding-right: 40px;
    display: flex;

    justify-content: space-between;

    margin-bottom: 20px;
}

.product-block {
    display: flex;
    width: 70%;
}

.product-image-in-list {
    width: 200px;
    height: 200px;
}

.product-title {
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.product-price {
    font-size: 32px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 14px;
    font-weight: normal;
    color: #c9c9c9;
    text-align: left;
}

.old-price-price {
    font-size: 14px;
    text-decoration: #c9c9c9 1px line-through;
    font-weight: normal;
    color: #c9c9c9;
    text-align: left;
}

.sale {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    background: #ff2d2d;
    border-radius: 7px;
    padding: 3px;
}

.view-product-price {
    text-align: left;
}

.small-button {
    padding: 8px 10px;
    font-size: 14px;
    margin-right: 0;

    background: transparent;
    border-bottom: 3px solid #F5C400;
    font-weight: 500;
}

.small-button:hover {
    border-radius: 0;
    border-bottom: none;
    background: #ffce00;
}

.product-description {
    color: #666666;
    font-size: 14px;
}

.categories-list {
    font-size: 11px;
}

.view-product-title {
    margin-top: 0;
}

.product-main-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
}

.product-images-block {
    width: 35%;

    display: flex;
    justify-content: space-between;
}

.product-options-block {
    font-size: 14px;

    width: 27%;
}

.bold {
    font-weight: bold;
}

.product-price-block {
    width: 27%;
    display: flex;
    flex-direction: column;


    box-shadow: rgba(102, 102, 102, 0.31) 1px 1px 10px 1px;
    border-radius: 5px;

    padding: 0 15px 20px;
}

.option {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.option-title {
    color: #808080;
}

.option-value {
    color: blue;
}

.price-block-price {
    font-weight: bold;
    font-size: 32px;

    text-align: left;
    width: 90%;
}

.price-block {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 30px 0;
    align-items: flex-end;
}

.green {
    background: #00ff00;
}

.product-price-cart {

}

.images-view-all-photos-block {
    width: 70px;
    padding: 0 10px 10px 10px;
}

.images-view-view {
    width: 84%;
}

.product-view-photo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.view-choosed-photo {
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 350px;
}

.un-margin {
    margin: 0;
}


.h2 {
    margin-top: 50px;
}

.normal-input {
    border: 1px solid rgba(130, 130, 130, 0.55);
    font-weight: normal;
    color: rgb(70, 70, 70);
}

.auth-p {
    margin-bottom: 5px;
    color: rgb(70, 70, 70);
}

.auth-button {
    border-radius: 0;
    margin-top: 25px;
    margin-right: 45px;
}

.auth-page {
    width: 20%;
    margin-top: 100px;
}

.error-msg {
    color: crimson;
}

.inCart {
    background: transparent;
    border-bottom: 2px solid #35e001;
    border-radius: 0;
    transition: .1s;
    padding: 2px 2px 10px;
}

.inCart:hover {
    border-bottom: 5px solid #35e001;
    background: transparent;
}

.to-pay-button {
    border-radius: 0;
    margin-left: 10px;
}

.main-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main-page-main {
    width: 70%;
}

.main-page-banners {
    width: 25%;
}

.mini-banners {
    width: 100%;
    display: flex;
}

.mini-banner {
    width: 200px;
    height: 200px;

    margin-right: 20px;

    cursor: pointer;
}

.right-banners {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.right-banner {
    width: 300px;
    height: 380px;
    margin-bottom: 20px;

    background: black;

    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.margin-top {
    margin-top: 40px;
}

.index-cat-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.index-category {
    cursor: pointer;

    width: 200px;
    height: 200px;
    margin-right: 20px;

    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(173, 173, 173, 0.41);
    border-radius: 15px;

    flex-direction: column;
    transition: .2s;
}

.index-category:hover {
    border: 1px solid rgba(0, 112, 255, 0.55);
}

.index-cat-name {
    margin: 5px 0 0 0;
    z-index: 1;
    color: rgb(109, 109, 109);
}

.query-page {
    display: flex;
    justify-content: space-between;
}

h4 {
    background: #e0b501;
    width: min-content;
}

.for-sellers-text {
    background: #35e001;
    margin-left: 15px;
}

.td {
    color: #272727;
    width: 150px;
    padding: 10px;
}

.td-up {
    color: #595959;
}

.tr {
    display: flex;
}

.table {
    font-size: 14px;
}

.product-change {
    width: 50%;
    font-size: 14px;
}

.product-change-line {
    display: flex;
    justify-content: space-between;
}

.add-button {
    margin-left: 20px;
    border-radius: 0;
}

.simple-input {
    border: 1px solid #B1B1B1;
    font-weight: normal;
}

.inv-input {
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    border-bottom: 1px solid #b4b4b4;
    margin-left: 20px;
}

.user-info-block {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.user-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-span {
    display: flex;
}

.tag {
    margin-left: 15px;
    background: #fecd00;
    padding: 2px;
    font-weight: 550;
    cursor: pointer;
}

.alert-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;

    position: absolute;

    bottom: 120px;
}

.alert {
    overflow: hidden;

    background: #f7f7f7;
    border-radius: 3px;
    font-size: 13px;
    padding: 5px 100px;
    color: #232323;

    border-bottom: #ffcd00 1px solid;
    user-select: none;
    z-index: 999;
}

.no-alert {
    display: none;
}

.main-layout {
    position: relative;
}

.auth-login-page {
    background-image: url("https://i.pinimg.com/originals/1b/26/d5/1b26d5834041daedad8d4c3f5d3b1961.jpg");
    width: 100%;
    height: 1000px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dbody {
    overflow: hidden;
}

.auth-form {
    background: white;
    border-radius: 5px;
    padding: 30px;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.auth-input {
    width: 100%;
    border: none;
    border-bottom: #bebebe 1px solid;
    padding: 2px 2px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.auth-input:focus {
    border-bottom: #ffcd00 1px solid;
}

.auth-a {
    width: 100%;
    margin-top: 5px;
}

.auth-button {
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
}

.auth-button-gray {
    background: transparent;
    border: 1px solid #bebebe;
}

.auth-button-gray:hover {
    background: #f8f8f8;
}